{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>DOCTOR REGISTRATION</h2>
<div class="container">
  
  <div class="row justify-content-center mb-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ user_form|crispy}}
        {{ doctor_profile|crispy }}
        <button type="submit" class="btn btn-success" id='btn'>Sign up</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}

