{% extends 'base.html' %}
{% block content %}

<form method=POST>
	{%csrf_token%} 
	{{ form }} 
    <button type="submit"> Search </button>
</form>
<script>
    $(function() {
      $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2012",
        
  
      });
    });
</script>
<table style="border: solid;">
    {% for appointment in appointments %}
        <tr>
            <td>
                {{ appointment.doctor }}
            </td>
            <td>
                {{ appointment.date }}
            </td>
            <td>
                {{ appointment.slot1 }}
            </td>
            <td>
                {{ appointment.slot2 }}
            </td>
            <td>
                {{ appointment.slot3 }}
            </td>
            <td>
                {{ appointment.slot4 }}
            </td>
            <td>
                {{ appointment.slot5 }}
            </td>
            <td>
                {{ appointment.slot6 }}
            </td>
            <td>
                {{ appointment.slot7 }}
            </td>
        </tr>
    {% endfor %}
</table>
<br/>
<a href="{% url 'd_home' %}"> Home </a>
{% endblock %}

