{% extends 'base.html' %}
{% block content %}
<div class="container h-100">
<h1>List of Patients. Click Name to View details</h1>

<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
      <thead class="thead-dark">
        <tr>
            <th>Patient Name</th>
            
        </tr>
      </thead>
<tbody>
    {% for p in patient_set %}
    <tr>
        <td><a href="{% url 'patient_detail' name=p %}">{{p}}</a></td>
    </tr>
{% endfor %}
    
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}

