{% extends 'base.html' %}
{% block content %}
<div class="container h-100">
<div class="heading">
    <h1>Choose a range to view Appointments<br> <br></h1>
<form method=POST>
<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
    {%csrf_token%} 
   From:
    {{ form.start }}
    To:
    {{ form.end }}
    <button type="submit" class="btn btn-primary"> Search </button>
 </div>
</form>
<script>
    $(function() {
      $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2012",
        
  
      });
    });
</script>
<br/>
<br/>

<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
      <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>10-10:30</th>
            <th>10:30-11</th>
            <th>11-11:30</th>
            <th>11:30-12</th>
            <th>13-13:30</th>
            <th>13:30-14</th>
            <th>14-14:30</th>
        </tr>
      </thead>
<tbody>

    {% for appointment in appointments %}
        <tr>
            <td>
                {{ appointment.date }}
            </td>
            <td>
                {{ appointment.slot1 }}
            </td>
            <td>
                {{ appointment.slot2 }}
            </td>
            <td>
                {{ appointment.slot3 }}
            </td>
            <td>
                {{ appointment.slot4 }}
            </td>
            <td>
                {{ appointment.slot5 }}
            </td>
            <td>
                {{ appointment.slot6 }}
            </td>
            <td>
                {{ appointment.slot7 }}
            </td>
        </tr>
    
    {% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock %}

