
body, html {
  height: 100%;
  padding: 0px;
  background-color:black;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url('../images/wallpaper_patient2.jpg');
  min-height: 100%;
}

.bgimg-2 {
background-image: url('../images/wallpaper_patient2.jpg');  min-height: 400px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

.header {
  padding: 100px;
  text-align: center;
  background: #00CED1	;
  color: white;
  height: 400px;

}
.footer {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
  color:white;

}

.options
{
  align:center;
}
.options a{
color: black;

}
.options a:link, a:visited {
  background-color: #A9A9A9	;
  color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 80px;
  width: 400px;
  font-family:fantasy;


}
.options a:hover {
  background-color: #40E0D0;
}
.navbar {
  overflow: hidden;
  background-color: black;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
