{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <h2>
        Book an appointment
    </h2>
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        {{ slotForm|crispy }}
        <button type="submit" class="btn btn-success">Book</button>
    </form>
</div>
<br/>
<a href="{% url 'p_home' %}"> Home </a>
{% endblock %}

{% block js %}
<script>
  $("#id_doctor").change(function () {
      var doctor = $(this).val();
      console.log(doctor)
      var date = $("#id_date").val()
      if(date!=''){
      $.ajax({
        url: 'ajax/update_values/',
        data: {
          'doctor': doctor,
          'date': date
        },
        dataType: 'json',
        success: function (data) {
          console.log(data)
          buttons = $('#id_slots').children()
          for(i=0;i<7;i++){
            if(!data[i]){
              buttons.eq(i).hide()
            }
          }
        }
      });
      }
    });
    $("#id_date").change(function () {
      var date = $(this).val();
      console.log(date)
      var doctor = $("#id_doctor").val()
      if(doctor!=""){
      $.ajax({
        url: 'ajax/update_values/',
        data: {
          'doctor': doctor,
          'date': date
        },
        dataType: 'json',
        success: function (data) {
          buttons = $('#id_slots').children()
          for(i=0;i<7;i++){
            if(!data[i]){
              buttons.eq(i).hide()
            }
          }
        }
      });
    }
    });
</script>
{% endblock %}