{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1> Details of {{doctor.name}} </h1>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
        <thead class="thead-dark">
            
    </thead>
<tbody>
    
    <tr><td>Name: </td><td>{{ doctor.name }}</td></tr>
    <tr><td>Gender: </td><td>{{ doctor.gender }}</td></tr>
    <tr><td>Contact: </td><td>{{ doctor.contact }}</td></tr>
    <tr><td>Email: </td><td>{{ doctor.email }}</td></tr>
    <tr><td>Qualification </td><td>{{ doctor.qualification }}</td></tr>
    <tr><td>Specialisation </td><td>{{ doctor.specialisation }}</td></tr>
    <tr><td>Location </td><td>{{ doctor.location }}</td></tr>
    
</tbody>
</table>

<h1>
<a href="{% url 'doctor_list' %}"> Back to Doctors List </a>
</h1>
</div>
{% endblock %}
