{% extends 'base.html' %}

{% block content %}
<div class="container h-100">

	<h1>Doctors List</h1>
	
	<h2> Filters: </h2>
	<div>
		<form method=POST>
			{%csrf_token%} 
			{{ form1.as_p }} 
			<button type="submit"> Search </button>
			<br>
			<br>
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
				  <thead class="thead-dark">
					<tr>
						<th>Doctor Name</th>
						
					</tr>
				  </thead>
			<tbody>
				{% for d in doctors %}
				<tr>
					<td><a href="{% url 'doctor_detail' name=d %}">{{d}}</a></td>
				</tr>
			{% endfor %}
				
			</tbody>
			</table>
			</div>
			
		</div>
		
		<br/>
	</div>
	<div class="col-md-6">
	</div>
	<div class="col-md-6">
		<button class="btn btn-"><!-- <a href="{% url 'p_home' %}"> Home </a>   --></button>
	</div>


{% endblock %}


<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
      <thead class="thead-dark">
        <tr>
            <th>Doctor Name</th>
            
        </tr>
      </thead>
<tbody>
    {% for d in doctors %}
    <tr>
        <td><a href="{% url 'patient_detail' name=p %}">{{p}}</a></td>
    </tr>
{% endfor %}
    
</tbody>
</table>
</div>
