{% extends 'base.html' %}

{% block content %}
<h1>Patient Home</h1>
<a href="{% url 'profile_view_patient' %}"> View Profile </a>
<br/>
<a href="{% url 'doctor_list' %}"> View List of doctors </a>
<br/>
<a href="{% url 'book' %}"> Book an appointment </a>
<br/>
<a href="{% url 'view' %}"> View appointments </a>
<br/>
<a href="{% url 'change_password_patient' %}"> Change your password </a>
<br/>
<a href="{% url 'view_medical_records' %}"> View your medical records </a>
<br/>
{% endblock %}
<br>
