{%  extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-borderless table-hover table-dark" style="border-radius: 7px;">
            <tr>
                <td>
                    Name: {{ patient.name }}
                </td>
            </tr>
            <tr>
                <td>
                    Age:{{ patient.age }}
                </td>
            </tr>
            <tr>
                <td>
                    Gender:{{ patient.gender }}
                </td>
            </tr>
            <tr>
                <td>
                    Contact: {{ patient.contact }}
                </td>
            </tr>
            <tr>
                <td>
                    Email :{{ patient.email }}
                </td>
            </tr>
        </table>
    </div>
<div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <a href="{% url 'profile_edit_patient' %}"><button class="btn btn-primary"> EDIT </button></a>
        <a href="{% url 'change_password_patient' %}"><button class="btn btn-info my-2 my-sm-0">
            Change your Password</button></a>
    </div>
    <div class="col-md-3"></div>  
</div>
</div>
<!-- <a href="{% url 'p_home' %}"> Home </a>   -->
{% endblock %}