{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div>
      <h2>Patient Registration</h2>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <form method="post" novalidate>
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {{ user_form|crispy }}
              {{ profile_form|crispy }}
              <button type="submit" class="btn btn-success">Sign up</button>
            </form>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <!-- <div class="row mb-4">
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12"></div>
      </div> -->
    </div>
{% endblock %}

