{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>
      <table class="table table-borderless table-hover">
          {% for r in records %}
          <tr>
              <td>{{ r.date }}</td>
              <td>{{r.title}}</td>
              <td><img src="{{ r.record.url }}" alt="NOT found" width="500" /></td>
            </tr>
            {% endfor %}
        </table>
        <br />
        <a href="{% url 'add_medical_record' %}"
          ><button class="btn btn-primary">Add a medical record</button>
        </a>
        <br />
      </h1>
</div>
<!-- <a href="{% url 'p_home' %}"> Home </a>   -->
{% endblock %}
