{% extends 'base.html' %} {% block content %}
<div class="container">
  
      <table class="table table-borderless table-hover">
        <thead class="thead-dark">
          <th>Date Uploaded</th>
          <th>Details</th>
          <th>Medical Record</th>
          </thead>
          {% for r in records %}
          <tr>
              <td>{{ r.date }}</td>
              <td>{{r.title}}</td>
              <td><img src="{{ r.record.url }}" alt="NOT found" width="500" /></td>
            </tr>
            {% endfor %}
        </table>
        <br />
        <a href="{% url 'add_medical_record' %}">
        <button class="btn btn-primary" id='btn'>Add a medical record</button>
        </a>
        <br />
      
</div>

{% endblock %}
