* {
  box-sizing: border-box;
}
.body {
  font-family: Zapf-Chancery, Helvetica, sans-serif;
  margin: 0;
  background-color: lightblue;
}

/* Style the header */
.header {
  padding: 100px;
  text-align: center;
  background: #4169E1	;
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 2em;
  font-weight: bold;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: black;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('../images/wallpaper_patient1.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  /*background-color: #f1f1f1;*/

  
  color: #000;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
.main a:link, a:visited {
  background-color: #87CEEB;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 200px;
  width: 1000px;

}

.main a:hover {
  background-color: #1E90FF;
}

.boxed {
  border: 5px solid darkblue;
  padding: 20px;
}
